---
---

@import "minima";

$color-aderezo: #f5d442;
$color-acompanamiento: #0fc7e7;
$color-postre: #98289c;
$color-principal: #158f15;
$color-bebida: #e01f96;
$color-desayuno: #e0731f;


.recipe-description {
    color: #7a7272; 
    font-size: 15px;
}

.recipe-information {
    display: flex; 
    border: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;

    div {
        width: 33.33%; 
        margin: 0 10px; 
        text-align: center;

        p {
            font-weight: bold;
            display: inline;
        }
    }
    
}

.Aderezo {
    color: #fff !important;
    background-color: $color-aderezo;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.Acompanamiento {
    color: #fff !important;
    background-color: $color-acompanamiento;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.Postre {
    color: #fff !important;
    background-color: $color-postre;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.Principal {
    color: #fff !important;
    background-color: $color-principal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.Bebida {
    color: #fff !important;
    background-color: $color-bebida;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.Desayuno {
    color: #fff !important;
    background-color: $color-desayuno;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.recipe-list {
    display: inline;
    p {
        display: inline;
    }
}

.Aderezo-table {
    color: $color-aderezo !important;
    background-color: $color-aderezo;
    border-radius: 30px;
    height: 25px;
    width: 25px;
}

.Acompanamiento-table {
    color: $color-acompanamiento !important;
    background-color: $color-acompanamiento;
    border-radius: 30px;
    height: 25px;
    width: 25px;
}

.Postre-table {
    color: $color-postre !important;
    background-color: $color-postre;
    border-radius: 30px;
    height: 25px;
    width: 25px;
}

.Principal-table {
    color: $color-principal !important;
    background-color: $color-principal;
    border-radius: 30px;
    height: 25px;
    width: 25px;
}

.Bebida-table {
    color: $color-bebida !important;
    background-color: $color-bebida;
    border-radius: 30px;
    height: 25px;
    width: 25px;
}

.Desayuno-table {
    color: $color-desayuno !important;
    background-color: $color-desayuno;
    border-radius: 30px;
    height: 25px;
    width: 25px;
}